* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
}


body {
  color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background: linear-gradient(rgb(0, 0, 100),rgb(100, 0, 0));
}
nav{
  background-color: black;
  height: 850px;
  width: 100px;
  margin-left: 30px;
  float: left;
}


nav li{
  margin-top: 85px;
  margin-bottom: 125px;
  text-align: center;
  list-style-type: none;
}

nav li a{
  text-decoration: none;
}

nav li a:hover{
  text-decoration: underline;
  transition: ease-in-out 600ms;
  color: chartreuse;
}
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(muna.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 300px;
  padding-bottom: 250px;
  background-size: cover;
  color: white;
  animation-name: slide;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.image {
  display: flex;
  justify-content: center;
  width: 550px;
  height: 650px;
  margin: 20px;
  margin-left: 450px;
}

.hero h1 {
  font-size: 50px;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

.hero p, .hero h1{
  margin-left: 100px;
  margin-right: 100px;
  color: #ffffff;
  text-align: center;
}

.hero p {
  margin-top: 100px;
  font-size: larger;
}

body .aside {
  width: 300px;
  text-align: center;
  margin-left: 570px;
}

.hover {
  font-size: 30px;
  text-align: center;
  position: absolute;
  margin-top: 130px;
  margin-left: 700px;
  margin-bottom: 50px;
}

.hover2 {
  font-size: 30px;
  position: absolute;
  margin-left: 1030px;
  margin-top: -600px;
}

.hover2:hover, .hover:hover {
  text-transform: uppercase;
  transition: 2s;
}

.special{
  position: relative;
  margin-left: 500px;
  margin-right: 100px;
  margin-top: 80px;
  width: 300px;
  text-align: center;
}

.aboutindex{
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-left: 320px;
}
.about {
  width: 300px;
  height: 200px;
  margin-right: 100px;
  display: flex;
  align-items: center;
}

.whatido {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
}

.whatido, .about {
  text-align: center;
  border-radius: 20px;
  animation: 3s change infinite;
}

.me {
  background-image: url(me.jpg);
  background-position: center;
  background-size: cover;
}

.one {
  text-decoration: none;
}

.one:hover {
  text-decoration: underline;
}

footer {
  background: black;
  text-align: center;
}

footer p {
  padding-top: 22px;
  padding-bottom: 22px;
}

.calculator{
  margin-top: 300px;
}
/*
.project {
  display: flex;
  flex-direction: row;
}*/

.firstpro {
  margin-left: 80px;
}

.clock {
  margin-left: 80px;
}

.project p {
  width: 340px;
}

.spa {
  text-transform: uppercase;
  text-decoration: underline;
}
.secondtion{
  display: flex;
  margin-left: 200px;
}

.secondtion div{
  margin-top: 40px;
  text-align: center;
  display: flex;
  width: 340px;
  flex-direction: column;
}
.igclass{
  margin-left: 160px;
}
.igp{
  margin-left: 140px;
  width: 350px;
}
.secondtion div p{
  text-align: center;
}

.imgclass{
  margin-left: 100px;
}

#plus, #minus{
  background: #ffffff;
  color: black;
  width: 20px;
  height: 20px;
}

.map{
  border-right: #ffffff 2px solid;
  width: 700px;
}

.containermap{
  display: flex;
  margin-left: 200px;
  margin-top: 100px;
}

.landing h1{
  text-transform: capitalize;
}

.form form{
  background-color: gray;
  display: flex;
  color: black;
  flex-direction: column;
  padding: 20px 30px 30px 30px;
  margin-left: 120px;
  margin-top: 110px;
}

.side{
  display: flex;
  flex-direction: row;
  margin-left: 300px;
}

.side .text{
  display: flex;
  align-items: center;
  width: 500px;
  
}


@media screen and (max-width: 719px) {
  .aboutli{
    margin-left: -50px;
  }
  nav li {
    margin-left: 120px;
  }
  .about {
    margin-left: 40px;
  }
  .image{
    margin-left: 70px;
  }
  body .aside{
    margin-left: 200px;
  }
  .whatido {
    margin-left: 20px;
    margin-top: 0px;
  }
  .aboutindex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .special {
    display: flex;
    flex-direction: column;
    margin-left: 180px;
  }
  
  .family {
    margin-left: 30px;
  }
  .footer p {
    margin-right: 700px;
  }
}